<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.androstock.multant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_home"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeToolBar"
        tools:replace="android:label">
        <activity
            android:name=".chat.Chat_Groups"
            android:theme="@style/AppThemeToolBar.NoActionBar"></activity>
        <activity android:name=".Notes.NoteEditorActivity" />
        <activity android:name=".Notes.Notes" />
        <activity android:name=".Diary.Entries" />
        <activity android:name=".Diary.EntryEditorActivity" />
        <activity android:name=".Calendar.CalendarActivity" />
        <activity android:name=".Home.Developers_Activity" />
        <activity
            android:name=".Home.About_app_scrolling_activity"
            android:label="@string/title_activity_about_app_scrolling_activity"
            android:theme="@style/AppThemeToolBar.NoActionBar" />
        <activity
            android:name=".Home.Main_Setting_Activity"
            android:label="@string/title_activity_main__setting_" />
        <activity
            android:name=".Home.Setting_Activity"
            android:label="@string/title_activity_setting_"
            android:theme="@style/AppThemeToolBar.NoActionBar" />
        <activity
            android:name=".Home.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Task.TaskHome" />
        <activity android:name=".Task.AddTask" />
        <activity
            android:name=".chat.Chat_test"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ActiveDesk.ActiveDesk" />
    </application>

</manifest>