<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.androstock.multant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_home"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeToolBar"
        tools:replace="android:label">
        <activity android:name="com.androstock.multant.Notes.NoteEditorActivity" />
        <activity android:name="com.androstock.multant.Notes.Notes" />
        <activity android:name="com.androstock.multant.Diary.Entries" />
        <activity android:name="com.androstock.multant.Diary.EntryEditorActivity" />
        <activity android:name="com.androstock.multant.Calendar.CalendarActivity" />
        <activity android:name="com.androstock.multant.Home.Developers_Activity" />
        <activity
            android:name="com.androstock.multant.Home.About_app_scrolling_activity"
            android:label="@string/title_activity_about_app_scrolling_activity"
            android:theme="@style/AppThemeToolBar.NoActionBar" />
        <activity
            android:name="com.androstock.multant.Home.Main_Setting_Activity"
            android:label="@string/title_activity_main__setting_" />
        <activity
            android:name="com.androstock.multant.Home.Setting_Activity"
            android:label="@string/title_activity_setting_"
            android:theme="@style/AppThemeToolBar.NoActionBar" />
        <activity
            android:name="com.androstock.multant.Home.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.androstock.multant.Task.TaskHome" />
        <activity android:name="com.androstock.multant.Task.AddTask" />
        <activity android:name="com.androstock.multant.chat.Chat_test"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.androstock.multant.ActiveDesk.ActiveDesk" />
    </application>

</manifest>